Pandas Basic Assignment

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [8]:
import pandas as pd 

Data_series = [4,8,15,16,23,42]

df = pd.Series(Data_series)

print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [9]:
import pandas

var_list = [5,10,15,20,25,30,35,40,45,50]

pandas.Series(var_list)

0     5
1    10
2    15
3    20
4    25
5    30
6    35
7    40
8    45
9    50
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [10]:
import pandas as pd 

Data = {
    'Name' : ['Alice','Bob','Claire'],
    'Age' : [25,30,27],
    'Gender' : ["Female",'Male','Female']
}

df = pd.DataFrame(Data)

df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [11]:
''' "DataFrame" -->  A Pandas DataFrame is a 2 dimensional data structure,
                like a 2 dimensional array, or a table with rows and columns. 
                
                
    "pandas.series"  -->  A Pandas Series is like a column in a table.
                        It is a one-dimensional array holding data of any type.   '''

#  Difference  -->>

''' 'DataFrame' -->  Data Store = 2 dimensional data , Multiple types, multiple row and columns  
                     
                                "But"

     'Series' -->     Data Store = 1 dimensional , single type , columns '''

# Example -->

import pandas as pd 

Data1 = {
    'Id' : [101,102,103,104],
    'Playes_Name' : ["Virat", "Rohit", "Yuvraj", "Virendra"]
}

pd.DataFrame(Data1)


# Example Series 

import pandas as pd 

Data_Ser = [12,3,4,56,67]

pd.Series(Data_Ser)

0    12
1     3
2     4
3    56
4    67
dtype: int64

Q5.What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [12]:
# There are some comman function in dataframe we use 

# 1. head() = it is give the top 5 data in data set

# 2. tail() = it is give the bottom 5 data 

# Example ==>>

import pandas as pd 

StudentData = {
    'Id' : [101,102,103,104,105,106,107,108,109],
    'Name' : ["Virendra", "Mudit", "Praveen", "Anisha", "Kumkum", "Ravi", "Meena", "Nisha","Rahul"],
    'Branch' : ["Computer Science", "Data Science", "Design", "Nurshing","Nurshing","Computer Science","Cyber Security","Design","Machine Learning" ],
    'Age' : [22,21,23,20,21,25,19,26,28],
    'Gender' : ["Male","Male","Male","Female","Female","Male","Female","Female","Male"],
    'Email' : ["Viru@gmail.com","mudit@gmail.com","praveen@gmail.com","anisha@gmail.com","kumkum@gmail.com","ravi@gmail.com","meena@gmail.com","nisha@gmail.com","rahul@gmail.com",] 
}

df = pd.DataFrame(StudentData, index = ['A','B','C','D','E','F','G','H','G'] )
df.head()

    Id      Name            Branch  Age  Gender              Email
A  101  Virendra  Computer Science   22    Male     Viru@gmail.com
B  102     Mudit      Data Science   21    Male    mudit@gmail.com
C  103   Praveen            Design   23    Male  praveen@gmail.com
D  104    Anisha          Nurshing   20  Female   anisha@gmail.com
E  105    Kumkum          Nurshing   21  Female   kumkum@gmail.com

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [13]:
# Series, DataFrame, Panel

# All of them are mutable

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [14]:
import pandas as pd

# Create multiple Series
names = pd.Series(["Amit", "Ravi", "Neha"], index=[0, 1, 2])
ages = pd.Series([22, 25, 23], index=[0, 1, 2])
marks = pd.Series([78, 85, 90], index=[0, 1, 2])

# Create DataFrame using Series
df = pd.DataFrame({
    "Name": names,
    "Age": ages,
    "Marks": marks
})

print(df)

   Name  Age  Marks
0  Amit   22     78
1  Ravi   25     85
2  Neha   23     90